{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<h2 class="text-align-center"><strong>Nuestra Historia</strong></h2>
	<p class="text-align-just">Es una historia muy larga! Tienes tiempo? Te quedas un ratito para que te lo contemos?</p>
	 <p class="text-align-just">Sit esse cum tempore. Id eum aut aut enim ab est incidunt. Nihil quas sed officia sed omnis consequatur deleniti consectetur. Autem ea ab quasi nemo.

	Numquam nemo magnam esse quia minus. Voluptatibus sunt eveniet nemo quidem id voluptatibus quis. Consequatur odio qui explicabo ut. Non quis non doloribus. Quia et rerum ut minima ut.

	Expedita ut quis accusamus ab necessitatibus et. Rerum autem laboriosam recusandae ut impedit error placeat. Exercitationem quos dolor magnam nihil.

	Animi quia aut numquam rerum atque incidunt corrupti. Voluptate doloribus corporis blanditiis aut labore cumque. Aut eos deserunt repellat aut pariatur.

	Nihil omnis sit sunt optio aut odit rerum. Dolorem eos necessitatibus quasi cumque. Culpa ipsam et itaque qui sapiente necessitatibus accusamus voluptatibus.
</p>
	</div>
</div>

{% endblock %}