{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class="col-sm-6 col-sm-offset-4">
	<h2 class="text-align-center"><strong>Ingresar</strong></h2>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form|crispy }}

  <input class="btn btn-primary" type="submit" value="{% trans 'Iniciar sesion' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<br />
<p>{% trans "Has olvidado tu contrasena" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Restablecer" %}</a>!</p>
<p>{% trans "No tienes cuenta" %}? <a href="{% url 'registration_register' %}">{% trans "Registrarte" %}</a>!</p>
</div>
{% endblock %}